@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

:root {
  --gradient-primary: linear-gradient(135deg, #0ea5e9 0%, #6366f1 100%);
  --gradient-purple: linear-gradient(135deg, #4f46e5 0%, #7c3aed 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body::-webkit-scrollbar {
    display: none;
}

body {
  /* overflow: hidden; */
    /* overflow-y: hidden; */
     -ms-overflow-style: none;
  font-family: "Inter", sans-serif;
  background-color: black;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.codeblock1 {
   width: 372.95px;
  height: 257.05px;
  border-radius: 100%;
  left: calc(50% - 372.95px / 2 - 76.53px);
  top: calc(50% - 257.05px / 2 - 47.47px);
  background: linear-gradient(
    123.77deg,
    #ff512f -6.46%,
    #dd2476 30%,
    #ff6b6b 59.04%,
    #feca57 85%,
    #ff9ff3 124.53%
  );
  opacity: 0.2;
  filter: blur(34px);
  transform: matrix(1, 0, -0.03, 1, 0, 0);
}
.hero-gradient {
  background: radial-gradient(
    circle at 50% 0%,
    rgba(99, 102, 241, 0.15) 0%,
    rgba(99, 102, 241, 0.05) 30%,
    rgba(0, 0, 0, 0) 70%
  );
}

.code-border {
  border: 2px solid;
  border-image-slice: 1;
  border-width: 2px;
  border-image-source: linear-gradient(to right bottom, #ffffff38, #ffffff00);
  background: linear-gradient(
    111.93deg,
    rgba(14, 26, 45, 0.24) -1.4%,
    rgba(17, 30, 50, 0.38) 104.96%
  );
  /* backdrop-filter: blur(26px); */
}

.dotted-grid {
  background-image: radial-gradient(circle, #ffffff 1px, transparent 1px);
  background-size: 24px 24px;
  opacity: 0.1;
}
